config BCMDHD_DS
	tristate "Broadcom 4329/30 wireless cards support (legacy for doubleshot)"
	depends on MMC
	---help---
	  This module adds support for wireless adapters based on
	  Broadcom 4329/30 chipset. Legacy unpatched version which works
	  best on htc doubeshot (not getting stuck on dropouts).

	  This driver uses the kernel's wireless extensions subsystem.

	  If you choose to build a module, it'll be called dhd. Say M if
	  unsure.

config BCMDHD_DS_FW_PATH
	depends on BCMDHD_DS
	string "Firmware path"
	default "/system/etc/firmware/fw_bcmdhd.bin"
	---help---
	  Path to the firmware file.

config BCMDHD_DS_NVRAM_PATH
	depends on BCMDHD_DS
	string "NVRAM path"
	default "/system/etc/wifi/bcmdhd.cal"
	---help---
	  Path to the calibration file.

config BCMDHD_DS_WEXT
	bool "Enable WEXT support"
	depends on BCMDHD_DS && CFG80211 = n
	select WIRELESS_EXT
	select WEXT_PRIV
	help
	  Enables WEXT support
